
<%= shout ? 'Update' : 'Create' %>
<form class='edit-shout-form' id='foo'>
  <p>
    Name:<br>
    <input type="text" name="name" value="<%= shout ? shout.get('name') : '' %>">
  </p>
  <p>
    Shout:<br>
    <input type="text" name="shout" value="<%= shout ? shout.get('shout') : '' %>">
  </p>
  <p>
    
    <button class="btn btn-primary" id='submit'>Submit</button>
    <% if(shout) { %>
      <input type="hidden" name="id" value="<%= shout.id %>">
      <button type="button" class="btn btn-danger delete">Delete</button>
    <% }; %>
  </p>
</form>