<h1>Shouts</h1>
<a href='#/shouts/new'>New</a>
<hr>
<% _.each(shouts, function (shout) { %>
  <p>
    <b><%= shout.get('name') %>:</b><%= shout.get('shout') %>
    <br>
    <a href="#shout/<%= shout.get('_id') %>">View</a> |
    <a href="#shout/<%= shout.get('_id') %>/edit">Edit</a> |
    <a href="#shout/<%= shout.get('_id') %>/delete">Delete</a> |
    <a href="#shout/<%= shout.get('_id') %>/reply">Reply</a> |
    <a href="#shout/<%= shout.get('_id') %>/like">Like</a> |
    <%= shout.get('numLikes') %> likes

  </p>
<% }); %>